# Ignore NuGet package files
*.nupkg

# Ignore the packages folder (used with Package Restore)
**/[Pp]ackages/*

# Except build/, which may be needed for MSBuild targets
!**/[Pp]ackages/build/

# Optional: include repositories.config if needed
#!**/[Pp]ackages/repositories.config

# Ignore NuGet-generated props and targets
*.nuget.props
*.nuget.targets

# Ignore lock and assets files
project.lock.json
project.assets.json
